@font-face {
  font-family: 'Beausite Classic';
  src: url('/application/static/fonts/BeausiteClassicWeb-Regular.woff2') format('woff2'),
    url('/static/fonts/BeausiteClassicWeb-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Beausite Classic';
  src: url('/application/static/fonts/BeausiteClassicWeb-Semibold.woff2') format('woff2'),
    url('/application/static/fonts/BeausiteClassicWeb-Semibold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Beausite Classic", "BeausiteClassic", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
